* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  margin: 0;
  color: #111;
}

.contenedor {
  width: 100%;
  max-width: 320px;
  padding: 20px;
}

h1 {
  font-weight: 600;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-weight: 600;
  margin-bottom: 30px;
  text-align: center;
}

h3 {
  font-weight: 300;
  font-size: 15px;
  margin-bottom: 30px;
  text-align: center;
}

input,
.btn-volver {
  width: 100%;
  padding: 14px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: none;
  font-size: 14px;
  display: block;
  text-decoration: none;
}

input[type="text"],
input[type="password"] {
  background-color: #f3f3f3;
  transition: background 0.2s;
}

input:focus {
  background-color: #e9e9e9;
  outline: none;
  color: #000;
}

input[type="submit"],
.btn-volver {
  background-color: #111;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
}

input[type="submit"]:hover,
.btn-volver:hover {
  background-color: #333;
}

.error {
  color: rgb(255, 72, 72);
}