services:
  db:
    image: mariadb:latest
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: mariadb
      MYSQL_DATABASE: logindb
      MYSQL_USER: mariadb
      MYSQL_PASSWORD: mariadb
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data: